@font-face {
  font-family:cocomat;
  src:url(cocomat.ttf);
}
html, body {
  margin: 0;
  padding: 0;
  font-size:18px;
  font-family:Arial, Helvetica, sans-serif;
  color: #dddddd;
  background:#dddddd;
}
#header {
  background: #335599;
  height: 150px;
  font-size: 2em;
  font-family:cocomat;
}
#header h1 {
  padding:5px;
}
#header h1 span.first {
  color:#BBBBBB;
}
#header h1 img {
  height:60px;
}
.issue {
  background:#BBBBBB;
  border-radius:2px;
  box-shadow:1px 1px #000000;
  color:#333333;
  padding:10px;
}
.issue h4 {
  color:#335599;
}
.h20 {
  height:20px;
}
.float-right {
  float:right;
}
.clickable {
  cursor:pointer;
}
.h10 {
  height:10px;
}
.w10 {
  width:10px;
}
