{% load static from staticfiles %}

<html>
<head>
  <title>CityEcho</title>
  <link rel="icon" href="{% static 'echopy/res/images/logo.32.png' %}" />

  <link rel="stylesheet" href="{% static 'echopy/libs/bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="{% static 'echopy/res/default.css' %}" />
</head>
<body>
  <div id="header" class="jumbotron text-center">
    <h1><span class="first">City</span><span class="second">Echo</span></h1>
  </div>
  <div class="container-fluid bg-3">
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8 issue">
        <div class="glyphicon glyphicon-remove-sign float-right">
        </div>
        <h4>Issue #</h4>
        <p>Issue type</p>
        <p>Reports:</p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
    <div class="row">
      <div class="h20">
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2">
      </div>
      <div class="col-sm-8 issue">
        <div class="glyphicon glyphicon-remove-sign float-right">
        </div>
        <h4>Issue #</h4>
        <p>Issue type</p>
        <p>Reports:</p>
      </div>
      <div class="col-sm-2">
      </div>
    </div>
  </div>
</body>
</html>
